
.example-container {
  height: 100vh;
  border: 1px;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
   background-color: #711b57;

}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

/* Estilos CSS para reducir el espacio entre elementos del menú */
.submenu {
  max-height: 100px; /* Altura fija para el submenú */
  overflow-y: auto; /* Agrega scroll si el contenido supera la altura máxima */
  margin-top: 4px; /* Espacio superior entre submenús y elementos principales */
  padding-left: 24px; /* Ajusta el espacio a la izquierda para los submenús */
  position: absolute; /* Cambia a posición absoluta para superponerse */
  background-color: #fff; /* Fondo blanco para los submenús */
  z-index: 1; /* Asegura que los submenús estén por encima del contenido */
}


.parent {
  margin-bottom: 4px; /* Margen inferior reducido para los elementos principales */
  margin-top: 4px; /* Espacio superior entre elementos principales */
  position: relative; /* Cambia a posición relativa para posicionar los submenús absolutos */
}



/* Estilo para el elemento activo */
.mdc-list-item.mdc-list-item--with-one-line:active {
  background-color: #e0e0e0; /* Cambia el color de fondo al hacer clic */
  box-shadow: none; /* Elimina la sombra al hacer clic */
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color de fondo */
}

.submenu.expanded {
  transform: scaleY(1);
}



/* Estilos CSS para reducir el espacio entre elementos del menú */
.submenu.expanded {
  max-height: 500px; /* Altura máxima para el menú desplegable */
  transition: max-height 0.3s ease; /* Agrega una transición suave al cambio de altura */
}
/* Estilos CSS para reducir el espacio entre elementos del menú */


.submenu {
  max-height: 100px;
  overflow-y: inherit;
  margin-top: 4px;
  padding-left: 24px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

.mat-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos en la parte superior */
  overflow-y: auto; /* Agrega scroll si el contenido supera la altura máxima */
}


.mat-drawer-content .mat-sidenav-content .ng-star-inserted {
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-left: 200px; /* El margen izquierdo es igual al 100% de la altura de la ventana */
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #711b57;
}

/* Cambiar el color del texto y los iconos a blanco */
.mat-icon  {
  color: white;
}

.mat-list-item-content{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.mat-list-item-content .mat-icon{
  margin-right: 10px;
}

.mat-list-item-content,
.mat-list-item,
.mat-list-text,
.full-width {
  color: white !important;
}

/* Cambiar la tipografía a Rockwell y establecer el tamaño de fuente */
.mat-list-item-content,
.mat-list-item,
.mat-list-text,
.full-width {
  font-family: 'Rockwell', sans-serif;
  font-size: 13px;
}

.white-text {
  color: white !important;
  font-family: 'Rockwell', sans-serif;
  font-size: 13px;
}


/* Cambiar el color de fondo del menú */
.mat-nav-list, .submenu {
  background-color: #711b57;
}




